{% extends 'front/base.html' %}
{% load static %}

{% block content %}
            <!-- Begin Main Content Area -->
            <main class="main-content">
                <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'front/images/breadcrumb/bg/1-1-1919x388.jpg' %}">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-lg-12">
                                <div class="breadcrumb-item">
                                    <h2 class="breadcrumb-heading">Mening Akauntim</h2>
                                    <ul>
                                        <li>
                                            <a href="{% url 'front:index' %}">Asosiy Sahifa</a>
                                        </li>
                                        <li>Mening Akauntim</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-page-area section-space-y-axis-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-not-received-orders-tab" href="{% url 'front:list_orders' %}" >Qabul qilinmagan Buyurtmalar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-orders-tab" href="{% url 'front:carts' %}" >Buyurtmalar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Akaunt ma'lumotlari</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-logout-tab" href="{% url 'auth:logout' %}" role="tab" aria-selected="false">Chiqish</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-9">
                                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                                        <div class="myaccount-dashboard">
                                            <p>Salom <b>{{user.username}}</b>
                                        </div>
                                        <div class="myaccount-dashboard">
                                            <p>Ism: <b>{{user.first_name}}</b>
                                        </div>
                                        <div class="myaccount-dashboard">
                                            <p>Familiya: <b>{{user.last_name}}</b>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                        <div class="myaccount-details">
                                            <form method="post" class="myaccount-form">
                                                {% csrf_token %}
                                                <div class="myaccount-form-inner">
                                                    <div class="single-input single-input-half">
                                                        <label>Ism*</label>
                                                        <input type="text" value="{{user.first_name}}" name="f_name">
                                                    </div>
                                                    <div class="single-input single-input-half">
                                                        <label>Familiya*</label>
                                                        <input type="text" value="{{user.last_name}}" name="l_name">
                                                    </div>
                                                    <div class="single-input">
                                                        <label>Email*</label>
                                                        <input type="email" value="{{user.email}}" name="email">
                                                    </div>
                                                    <div class="single-input">
                                                        <label>Hozirgi parol</label>
                                                        <input type="password" name="password">
                                                    </div>
                                                    <div class="single-input">
                                                        <label>Yangi parol (O'zgartirmoqchi bo'lmasangiz bo'sh qoldiring)</label>
                                                        <input type="password" name="new_password">
                                                    </div>
                                                    <div class="single-input">
                                                        <label>Yangi parolni tasdiqlang</label>
                                                        <input type="password" name="new_password_confirm">
                                                    </div>
                                                    <div class="single-input">
                                                        <button class="btn btn-custom-size lg-size btn-pronia-primary" type="submit">
                                                            <span>SAQLASH</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Main Content Area End Here -->
{% endblock content %}
    