{% extends 'front/base.html' %}
{% load static %}

{% block content %}

        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-top-100">
            <div class="container">
                <div class="shipping-bg">
                    <div class="row shipping-wrap">
                        <div class="col-lg-4 col-md-6">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="{% static 'front/images/shipping/icon/car.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Bepul yetkazib berish</h2>
                                    <p class="short-desc mb-0">300.000 so'm + uchun</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="{% static 'front/images/shipping/icon/card.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Xavfsiz to'lov</h2>
                                    <p class="short-desc mb-0">Bizning to'lov tizimimiz orqali</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="{% static 'front/images/shipping/icon/service.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Ajoyib Servis</h2>
                                    <p class="short-desc mb-0">Do'stona ishchilar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Area End Here -->

        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="section-title-wrap">
                    <h2 class="section-title mb-0">Bizning mahsulotlarimiz</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav product-tab-nav tab-style-1" id="myTab" role="tablist">
                            {% for category in categories %}
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'front:category_detail' category.id %}">
                                    {{category.name}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                <div class="product-item-wrap row">
                                    {% for product in products %}
                                    <div class="col-xl-3 col-md-4 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a href="{% url 'front:product_detail' product.code %}">
                                                    <img class="primary-img" src="{{product.banner_img.url}}" style="height: 300px;" width="270px" alt="Product Images" >
                                                </a>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            {% if product.is_like %}
                                                                <a class="custom-circle-btn" href="{% url 'front:remove_from_wishlist' product.code %}" data-tippy="Istaklardan olish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
                                                                </a>
                                                            {% else %}
                                                                <a class="custom-circle-btn" href="{% url 'front:add_to_wishlist' product.code %}" data-tippy="Istaklarga qo'shish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                            {% endif %}
                                                        </li>
                                                        <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                            <a href="{% url 'front:product_detail' product.code %}" data-tippy="Mahsulot haqida ma'lumot" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-look"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{% url 'front:add_to_cart' product.code %}" data-tippy="Savatga qo'shish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="{% url 'front:product_detail' product.code %}">{{ product.name }}</a>
                                                <div class="price-box pb-1">
                                                    {% if product.discount_price %}
                                                    <span class="new-price">{{product.price}}</span><br>
                                                    <span class="new-price">Chegirma narx: {{product.discount_price}}</span>
                                                    {% else %}
                                                    <span class="new-price">{{product.price}}</span>
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->

        
        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="section-title-wrap without-tab">
                        <h2 class="section-title">Yangi mahsulotlar</h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="swiper-container product-slider">
                            <div class="swiper-wrapper">
                                {% for new_product in new_products %}
                                <div class="swiper-slide product-item">
                                    <div class="product-img">
                                        <a href="{% url 'front:product_detail' new_product.code %}">
                                            <img class="primary-img" src="{{new_product.banner_img.url}}" style="height: 300px;" width="270px" alt="Product Images" >
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    {% if new_product.is_like %}
                                                        <a class="custom-circle-btn" href="{% url 'front:remove_from_wishlist' new_product.code %}" data-tippy="Istaklardan olish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                            <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
                                                        </a>
                                                    {% else %}
                                                        <a class="custom-circle-btn" href="{% url 'front:add_to_wishlist' new_product.code %}" data-tippy="Istaklarga qo'shish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                    {% endif %}
                                                </li>
                                                <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                    <a href="{% url 'front:product_detail' new_product.code %}" data-tippy="Mahsulot haqida ma'lumot" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-look"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'front:add_to_cart' new_product.code %}" data-tippy="Savatga qo'shish" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" href="{% url 'front:product_detail' new_product.code %}">{{ new_product.name }}</a>
                                        <div class="price-box pb-1">
                                            {% if new_product.discount_price %}
                                            <span class="new-price">{{new_product.price}}</span><br>
                                            <span class="new-price">Chegirma narx: {{new_product.discount_price}}</span>
                                            {% else %}
                                            <span class="new-price">{{new_product.price}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->

        <!-- Begin Testimonial Area -->
        <div class="testimonial-area section-space-top-90 section-space-bottom-95">
            <div class="container-fluid">
                <div class="testimonial-bg" data-bg-image="{% static 'front/images/testimonial/bg/1-1-1820x443.jpg' %}">
                    <div class="section-title-wrap">
                        <h2 class="section-title">Mijozlarimiz fikrlari</h2>
                    </div>
                </div>
                <div class="container custom-space">
                    <div class="swiper-container testimonial-slider with-bg">
                        <div class="swiper-wrapper">
                            {% for review in reviews %}
                            <div class="swiper-slide testimonial-item">
                                <div class="user-info mb-3">
                                    <div class="user-shape-wrap">
                                        <div class="user-img">
                                            <img src="{{review.user.avatar.url}}" style="height: 270px; width: 270px;" alt="User Image">
                                        </div>
                                    </div>
                                    <div class="user-content text-charcoal">
                                        <h4 class="user-name mb-1">{{review.user.username}}</h4>
                                        <span class="user-occupation">{{review.product.name}}</span>
                                    </div>
                                    <div class="rating-box">
                                        <ul>
                                            {% for mark in review.mark_iter %}
                                            <li><i class="fa fa-star"></i></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <p class="user-comment mb-6">
                                    {{review.text}}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination without-absolute"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End Here -->
        {% endblock content %}

        